#h1{
    text-align: center;
    font-family:monospace;
    background-color: aquamarine;
    color:darkmagenta;
    font-size: 3em;
}

#div{
    text-align: center;
}

#input{
    font-size: 2em;
}

#button{
    font-size: 2em;
    padding: 10px 10px;
    background-color:brown;
    cursor: pointer;
}

#button:hover{
    background-color: rgba(165, 42, 42, 0.496);
}

#button:active{
    background-color:rgba(165, 42, 42, 0.6); ;
}

#result{
    font-size: 2em;
}

